.ModalWindow {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 200;
  padding: 40px;
  text-align: center;
  background-color: white;
  color: #263238;
  transform: translate(-50%, -50%);
}

.ModalWindow h2 {
  margin-bottom: 40px;
}
