@import '../../utils/colors';

.FormContacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px 15px 25px 15px;
  background-color: $form-contacts-bg;
  border: 3px solid $form-contacts-border;
}

h2 {
  margin-top: 10px;
}

.Flex {
  display: flex;
  justify-content: space-between;
}

Button {
  margin-left: 20px;
  width: 300px;
}

@media (max-width: 400px) {
  .FormContacts {
    width: 320px;
    max-height: 400px;
    padding: 15px;
  }
}

