@import '../../../utils/colors';

.BlockTitle {
  background-color: $block-title-bg;
  min-height: 20px;
  font-size: 20px;
  margin-bottom: 0;
  padding: 2%;

  a:focus, a:active {
    outline: none;
    color: $block-title-hover;
  }
}

i {
  padding-right: 10px;
  padding-left: 10px;
}

.Link {
  text-decoration: none;
  color: #282c34;

  &:hover {
    color: $block-title-hover;
  }

  &:active {
    color: $block-title-active;
  }
}
