.PostVacantItem {
  display: flex;
  align-items: flex-start;
  padding-left: 20px;
  margin-bottom: 20px
}

.PostVacant {
  display: flex;
  margin-top: -4px;

  h3 {
    margin: 0;
    padding: 0;
  }

}
