@import '../../../utils/colors';

.MenuToggle {
    margin-top: 25px;
    margin-right: 40px;
    font-size: 40px;
    cursor: pointer;
    color: $dark-grey;
    transition: opacity, left .22s ease-in;

    &:hover {
        opacity: .7;
    }

    &:focus {
        outline: none;
        opacity: .7;
    }
}

.MenuToggle.open {
    position: fixed;
    top: 0;
    right: 320px;
    color: $menu-toggle-dark-grey;

    &:hover {
        opacity: 1;
    }

    &:focus {
        outline: none;
        color: black;
    }
}

@media (max-width: 420px) {
    .MenuToggle.open {
        right: 250px;
        z-index: 500;
    }
}


