@import '../../utils/colors';

.AnnouncementItemPage {
  min-height: 410px;
}

.AnnounceArticle {
  margin: 10px 10%;
}

.Link {
  text-decoration: none;
  color: $menu-toggle-dark-grey;
}

i {
  padding-right: 10px;
  padding-left: 10px;
}

.Link:hover {
  color: $block-title-hover;
}

.Link:active {
  color: $block-title-active;
}

p {
  text-indent: 40px;
}
