@import '../../utils/colors';
@import '../../utils/constatnts';

.AnnouncementItemPage {
  min-height: $min-page-height;
}

.AnnounceArticle {
  margin: 10px 10%;
}

.Link {
  text-decoration: none;
  color: $menu-toggle-dark-grey;

  &:focus {
    outline: none;
    color: $block-title-hover;
  }

  &:hover {
    color: $block-title-hover;
  }

  &:active {
    color: $block-title-active;
  }
}

i {
  padding-right: 10px;
  padding-left: 10px;
}

p {
  text-indent: 40px;
}
