@import '../../utils/colors';

.PhotoContainer {
  display: flex;
  justify-content: flex-end;
  min-height: 400px;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: $form-contacts-border;
  background-image: url("../../img/128578.HR (1).jpg");
  background-size: 100%;
}

.AboutSchool {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  padding: 0 30px 30px;
  margin-right: 17%;
  margin-bottom: 20px;
  background-color: $form-contacts-border;

  h1 {
    margin: auto;
    border-bottom: 5px solid $menu-toggle-dark-grey;
  }
}


.ButtonContainer {
  width: 300px;
  text-align: center;
  margin: auto;
}

@media (max-width: 600px) {
  .AboutSchool {
    margin-right: 0;
  }

  .PhotoContainer {
    justify-content: center;
  }
}
