@import '../../utils/colors';

.DirectorItem {
  display: flex;
  width: 410px;
  min-height: 190px;
  margin-bottom: 10px;
  background-color: $director-item-bg;
  border: 3px solid $director-item-border;
}

.Portrait {
  width: 160px;
  height: 200px;
}

.PortraitContainer {
  width: 160px;
  height: 200px;
}

.DirectorAbout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;

  h3 {
    margin-bottom: 0;
    text-align: center;
    text-decoration: underline;
  }

  h4 {
    display: block;
    margin-bottom: 0;
    padding-top: 0;
  }

  p {
    margin: 0 0 18px 10px;
    padding: 0;
  }

  span {
    font-weight: bold;
  }
}

.Flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  width: 250px;
  margin-top: 0;
}

@media (max-width: 420px) {
  .DirectorItem {
    width: 350px;
    min-height: 170px;
    justify-content: center;
  }

  .Portrait {
    width: 140px;
    height: 180px;
  }

  .PortraitContainer {
    width: 110px;
    height: 180px;
  }
}

