@import '../../utils/colors';

.AnnouncementItem {
  display: flex;
  flex-direction: column;
  min-height: 150px;
  margin: 60px 100px;
  padding: 20px;
  background-color: $announcement-bg;
  border: 3px solid $announcement-border;

  h1 {
    margin: 10px auto;
  }
}

.AnnouncementItem.Important {
  border: 3px solid $announcement-alert-border;
  background-color: $announcement-alert-bg;
}

.ButtonContainer {
  align-self: flex-end;
}


@media (max-width: 600px) {
  .AnnouncementItem {
    margin: 60px 20px;
  }
}
