$white: #ffffff;
$red: #FF0000;
$dark-grey: #37474F;

$announcement-bg: rgba(144, 164, 174, .7);
$announcement-border: #90A4AE;
$announcement-alert-bg: rgba(122, 27, 12, 0.2);
$announcement-alert-border: rgba(122, 27, 12, 0.3);

$director-item-bg: rgba(144, 164, 174, .1);
$director-item-border: rgba(144, 164, 174, .9);

$form-contacts-bg: rgba(255, 255, 255, .8);
$form-contacts-border: rgba(144, 164, 174, .9);

$header-bg: rgba(255, 255, 255, .8);
$header-shadow: rgba(144, 164, 174, .2);
$header-item-bg: rgba(55, 71, 79, .2);

$menu-toggle-dark-grey: #263238;

$photo-menu-item-bg: rgba(144, 164, 174, .9);
$photo-menu-item-h3-background: rgba(144, 164, 174, .9);
$photo-menu-item-p-color: rgba(255, 255, 255, .0);
$photo-menu-item-button-bg: #546E7A;

$backdrop-bg: rgba(69, 90, 100, 0.6);

$block-title-bg: rgba(55, 71, 79, .2);
$block-title-hover: rgba(55, 71, 79, .8);
$block-title-active: rgba(55, 71, 79, .5);

$button-hover: #CFD8DC;
$button-hover-bg: #546E7A;
$button-alert-bg: rgba(122, 27, 12, 0.9);
$button-alert-border: #7a1b0c;
$button-alert-hover-bg: rgba(122, 27, 12, 0.7);
$button-alert-active-shadow: rgba(0, 0, 0, .3);

$input-border: #bebebe;
$input-error: #f01f30;

$separator-bg: #546E7A;



