@import '../../../utils/colors';

.Button {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 15px;
  color: $white;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  background-color: $dark-grey;
  border: 2px solid $dark-grey;
  cursor: pointer;
}

.Button:focus {
  outline: none;
}

.Button:hover {
  color: $button-hover;
  background-color: $button-hover-bg;
}

.Button.Important {
  background-color: $button-alert-bg;
  border: 3px solid $button-alert-border;
}

.Button.Important:hover {
  background-color: $button-alert-hover-bg;
}

.Button:active {
  box-shadow: inset 2px 2px 1px $button-alert-active-shadow;
}
