@import '../../../utils/colors';

.Input {
  margin-bottom: 15px;

  label {
    display: block;
    padding: 0;
    margin-bottom: 3px;
    font-weight: bold;
  }

  input {
    display: block;
    width: 100%;
    padding: 7px;
    margin: 0 0 5px;
    box-sizing: border-box;
    border: 1px solid $input-border;
    border-radius: 5px;
    outline: none;
    transition: all 300ms ease-in-out;

    &:focus {
      border: 1px solid $dark-grey;
    }
  }

  span {
    color: $input-error;
    font-size: 12px;
    font-weight: bold;
  }
}

.Input.invalid label {
  color: $input-error;
}
