.PhotoMenuItemContainer {
  flex-basis: auto;
  width: 290px;
  margin: 0 5px 15px 5px;
  height: 330px;
  background-size: cover;
}



.PhotoMenuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 290px;
  height: 330px;
}

.PhotoMenuItem:hover {
  background-color: rgba(144, 164, 174, .9);
 }

.PhotoMenuItem:hover p {
  color: #ffffff;
}

.PhotoMenuItem h3 {
  display: block;
  max-width: 220px;
  text-align: center;
  padding: 10px;
  margin-top: 15px;
  font-size: 34px;
  color: #ffffff;
  margin-bottom: 0;
  background-color: rgba(144, 164, 174, .9);
}

.PhotoMenuItem p {
  display: flex;
  margin-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 19px;
  text-align: center;
  color: rgba(255, 255, 255, .0);
}

.PhotoMenuItem Button:hover {
  background-color: #546E7A;
  color: #ffffff;
  transition: all 1.5ms;
}

