@import '../../../utils/colors';

.LinkButton {
  display: inline-block;
  padding: 10px 40px;
  margin-right: 15px;
  text-decoration: none;
  border: 2px solid $dark-grey;
  color: $white;
  background-color: $dark-grey;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;

  &:focus {
    outline: none;
    background-color: $button-hover-bg;
    color: $button-hover;
  }

  &:hover {
    background-color: $button-hover-bg;
    color: $button-hover;
  }
}

.LinkButton.Important {
  background-color: $button-alert-bg;
  border: 3px solid $button-alert-border;

  &:focus {
    outline: none;
    background-color: $button-alert-hover-bg;
    color: $button-hover;
  }

  &:hover {
    background-color: $button-alert-hover-bg;
  }

  &:active {
    box-shadow: inset 2px 2px 1px $button-alert-active-shadow;
  }
}
